@import 'tailwindcss';

@font-face {
  font-display: swap;
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/plus-jakarta-sans-v12-latin-300.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/plus-jakarta-sans-v12-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/plus-jakarta-sans-v12-latin-500.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/plus-jakarta-sans-v12-latin-600.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/plus-jakarta-sans-v12-latin-700.woff2') format('woff2');
}

@theme {
  --font-sans: 'Plus Jakarta Sans', sans-serif;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: var(--font-sans);
}
